body { 

    font-family: Arial, sans-serif; 

    color: #030303; 

    background-color: #ffffff; 

    margin: 10px; 
    
    margin-left: 40px;

    padding: 20px; 

    line-height: 1.6; 

} 
section { 

    float: right;


    font-size: 14px;

    border: 1px solid #000000;

}

    .login-body {
        background-image: url(images/logo.jpeg);
        background-size: cover; 
        background-position: center;
        height: 100vh;
        
    }