body { 

    font-family: Arial, sans-serif; 

    color: #ffffff; 
    

    background-image: url(images/background\ .jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

} 
section { 

    float: right;


    font-size: 14px;

    border: 1px solid #000000;

}

  form { 

  text-align: center;

  }

  header { 

    font-size: 24px;
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    element.style {
        display: block;
        margin: 0 auto;
        scrollbar-highlight-color: chocolate;
    }
    
  }
  